body {
  /* Mudar cor do fundo */
  background-color: #232323!important;
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 250% 250%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; */
  /* Mudar família da fonte */
  font-family: 'Poppins', sans-serif!important;
  /* Mudar cor da fonte */
  color: #ffffff!important;
  /* Não alterar */
  font-size: 1.1rem!important;
  line-height: 1.5rem!important;
  text-align: center!important;
  
}

/* @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
} */

.container-fluid {
  max-width: 540px;
}

/* PHOTO */
.photo {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photo img {
  border-radius: 50%;
  max-width: 220px;
  -moz-box-shadow: 0px 6px 5px #111;
  -webkit-box-shadow: 0px 6px 5px #111;
  box-shadow: 0px 2px 10px #111;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
}

/* TITLE */
.title h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;;
}

.title h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;;
}

/* BIO */

/* LINKS*/
.links {
  margin-bottom: 40px;
}

/* BOTÃO */
.botao {
  /* Mudar cor da fonte do botão */
  color: #000000;
  /* Mudar cor de fundo do botão */
  background-color: #ffffff;
  /* Não alterar */
  max-width: 100%;
  min-height: 3rem;
  vertical-align: middle;
  margin-top: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  padding-top: 0.75rem;
}

.botao:hover {
  /* Cor do texto e fundo - Quando tem link */
  color: #971b1b;
  background-color: #bb9e67;
}

/* SOCIAL */
.social {
  margin-bottom: 40px;
}
.social a {
  text-decoration: none;
  /* Mudar cor da fonte do ícone */
  color: #ffffff;
}

.social a:hover {
  /* Cor do ícone - Quando tem link */
  text-decoration: none;
  color: #e2c07e;
}

.social li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

/* FOOTER */
footer {
  font-size: 0.8rem;
  line-height: 1rem;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  color: #e2c07e;
}