body {
  /* Imagem de fundo */
  background-image: url(../img/VmQnal.png);
  background-repeat: repeat;
  /* Mudar cor do fundo */
  background-color: #232323!important;
    /* Mudar família da fonte */
  font-family: 'Poppins', sans-serif!important;
  /* Mudar cor da fonte */
  color: #f2f2f2!important; 
  /* Não alterar */
  font-size: 1.1rem!important;
  line-height: 1.5rem!important;
  text-align: center!important;
}

.container-fluid {
  max-width: 540px;
}

/* PHOTO */
.photo {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photo img {
  border-radius: 50%;
  max-width: 220px;
  -moz-box-shadow: 0px 6px 5px #111;
  -webkit-box-shadow: 0px 6px 5px #111;
  box-shadow: 0px 2px 10px #111;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
}

/* TITLE */
.title {
  font-family:'Chakra Petch', sans-serif!important;
}

.title h1 {
  font-weight: 700;
  font-size: 2.80rem;
  line-height: 3rem;
  letter-spacing: 0.18rem;
}

.title h2 {
  font-weight: 500;
  font-size: 1.70rem;
  line-height: 2.5rem;
  letter-spacing: 0.14rem;
}

/* BIO */

/* LINKS*/
.links {
  margin-bottom: 40px;
}

/* BOTÃO */
.botao {
  /* Mudar cor da fonte do botão */
  color: #282828;
  /* Mudar cor de fundo do botão */
  background-color: #f2f2f2;
  /* Não alterar */
  max-width: 100%;
  min-height: 3rem;
  margin-top: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  padding-top: 0.75rem;
}

.botao:hover {
  /* Cor do texto e fundo - Quando tem link */
  color: #282828;
  background-color: #05c2ba;
}

/* SOCIAL */
.social {
  margin-bottom: 40px;
}
.social a {
  text-decoration: none;
  /* Mudar cor da fonte do ícone */
  color: #f2f2f2;
}

.social a:hover {
  /* Cor do ícone - Quando tem link */
  text-decoration: none;
  color: #05c2ba;
}

.social li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

/* FOOTER */
footer {
  font-size: 0.8rem;
  line-height: 1rem;
}

footer a {
  text-decoration: none;
  color: #f2f2f2;
}

footer a:hover {
  color: #05c2ba;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #eeeeee!important;
    color: #232323!important;
  }

  /* BOTÃO */
  .botao {
    color: #f2f2f2;
    background-color: #282828;
  }

  /* SOCIAL */
  .social a {
    color: #282828;
  }

  /* FOOTER */
  footer a {
    color: #282828;
  }
}